# See http://help.github.com/ignore-files/ for more about ignoring files.

scripts/output.txt
public/images

# dependencies
node_modules

# testing
coverage

# production
build

# misc
.DS_Store
.env
npm-debug.log
